<%- include('includes/header_main') %>

<div class="text-right" style="margin-bottom: 1em;">
  <% if (!username) { %>
  <a id="login" href="/signin" class="btn btn-primary">
    Sign in
  </a>
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <%  } else { %>
    <a id="logout" href="/logout" class="btn btn-primary">
      Sign out
   </a>
  <%  } %>
</div>

<% if (!username) { %>
 <div></div>
<%  } else { %>
  <div class="text-right">
    <a href="/new" class="btn btn-primary">
    Write in the guestbook
    </a>
  </div>
<%  } %>

<h4>WHAT’S on your mind? share your motivation</h4>

<% Promise.resolve(entries.forEach(function(entry) { %>

<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= entry.subject %></h4>
    <!-- <a href="/delete" class="btn btn-primary">delete</a> -->
    <p class="card-text">
      <%= entry.contents %>
    </p>
  <div class="card-footer">
 
  Written by <a href="/posts/<%= entry.author %>">  <%= entry.author %> </a> , on  <%= entry.published %> 
</div>
</div>
    
    <% if (entry.length) { %>

        No entries yet.

    <% } %>

 <% })) %> 

 <%- include('includes/footer') %>




